<div id="<%= dom_id portfolio %>">
  <p>
    <strong>Title:</strong>
    <%= portfolio.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= portfolio.body %>
  </p>

  <p>
    <strong>Image data:</strong>
    <%= portfolio.image_data %>
  </p>

</div>
