
<p></p>
<div class="container">
<% @portfolios.each_slice(3) do |portfolio| %>
  <div class="row">
    <% portfolio.each do |portfolio| %>
      <div class="col-md-4"><%= render portfolio %></div>
    <% end %>
  </div>
</div>
<% end %>