<h1>Contact</h1>

<p class="text-white bg-black">LinkedIn: <a href="https://www.linkedin.com/in/rianpickell/" class="link-success">www.linkedin.com/in/rianpickell</a></p>
<p class="text-white bg-black">GitHub: <a href="https://github.com/rianp" class="link-success">https://github.com/rianp</a></p>
<p class="text-white bg-black">Email: rianchristopher@gmail.com</p>
