<p></p>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <p><%= image_tag('p_pic.jpg', :class => "float-center img-fluid img-thumbnail") %></p>
            <p><h2>Ryan Pickell</h2></p>
        </div>
        <div class="col-sm-8">
            <h1>About Me</h1>
            <p class="text-white bg-black">I am a multidisciplinary artist with a love for all things computer science.</p>
            <p class="text-white bg-black">I am currently enrolled at Oregon State University's Postbaccaleaurette CS program.</p>
        </div>
    </div>
</div>
